<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_oMLTV-taK9YDAhb73y3hB6R4Rh-AAB0</string>
	<key>GCM_SENDER_ID</key>
	<string>27380353617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cosons</string>
	<key>PROJECT_ID</key>
	<string>cosons-b1928</string>
	<key>STORAGE_BUCKET</key>
	<string>cosons-b1928.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27380353617:ios:d6f1e1fa6ef5b8c2e04670</string>
</dict>
</plist>